name: Push to server

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  production:
    name: Deploy to self-hosted
    runs-on: self-hosted

    steps:
      - name: Force clean workspace
        run: |
          sudo rm -rf $GITHUB_WORKSPACE/*

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Up Docker Compose
        run: docker compose down && docker compose up --build -d

      - name: Tail logs on failure
        if: failure()
        run: docker compose logs --no-color | tail -n 200 | cat
